<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baima.jianjia.mapper.UserMapper">
    <select id="queryUserList" resultType="User">
		select username,password from jianjia.userlogin
	</select>
    <select id="queryUserNameList" resultType="String">
		select username from jianjia.userlogin
	</select>
    <select id="queryUserByName" resultType="User" parameterType="String">
		select * from jianjia.userlogin where username=#{name}
	</select>
    <select id="addUser">
		insert into jianjia.userlogin values (#{username},#{password})
	</select>
    <select id="getUserInfo" resultType="Userinfo" parameterType="String">
		select * from jianjia.userinfo where username=#{username}
	</select>
	<select id="searchKey" resultType="Userinfo">
		select * from jianjia.userinfo where key like #{key} and sex like #{sexfilter} and department like #{departmentfilter}
	</select>
	<select id="searchNikeName" resultType="Userinfo">
		select * from jianjia.userinfo where nikename like #{nikename} and sex like #{sexfilter} and department like #{departmentfilter}
	</select>
	<select id="updateUserInfo">
		update jianjia.userinfo set age=#{age},nikename=#{nikename},sex=#{sex},department=#{department},"key"=#{key},"like"=#{like} where username=#{username}
	</select>
	<select id="getLikeList" resultType="String" parameterType="String">
		select likeuser from jianjia.userlike where username=#{username}
	</select>
	<select id="toLike">
		insert into jianjia.userlike values (#{username},#{likeuser})
	</select>
	<select id="rmLike">
		delete from jianjia.userlike where username=#{username} and likeuser=#{likeuser}
	</select>
	<select id="postShow">
		insert into jianjia.usershow (username,showdata,ispublic,timedate) values (#{username},#{showdata},#{ispublic},#{timedate})
	</select>
	<select id="getAllUserShows" resultType="UserShow">
		select username,showdata,timedate,id from jianjia.usershow where ispublic=true order by id desc
	</select>
	<select id="getUserShows" resultType="UserShow" parameterType="String">
		select username,showdata,timedate,id from jianjia.usershow where ispublic=true and username=#{username}  order by id desc
	</select>
	<select id="getSelfShows" resultType="UserShow" parameterType="String">
		select username,showdata,timedate,id from jianjia.usershow where username=#{username} order by id desc
	</select>
	<select id="updateUserPicture">
		update jianjia.userinfo set profilepicture=#{url} where username=#{username}
	</select>
	<select id="getShowcomments" resultType="Showcomment" parameterType="int">
		select * from jianjia.showcomments where showid=#{showid}
	</select>
	<select id="postComment">
		insert into jianjia.showcomments (username,comment,showid,timedate) values (#{username},#{comment},#{showid},#{timedate}) 
	</select>
</mapper>
