<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baima.jianjia.mapper.UserMapper">
    <select id="queryUserList" resultType="User">
		select username,password from jianjia.userlogin
	</select>
    <select id="queryUserNameList" resultType="String">
		select username from jianjia.userlogin
	</select>
    <select id="queryUserByName" resultType="User" parameterType="String">
		select * from jianjia.userlogin where username=#{name}
	</select>
    <insert id="addUser">
		insert into jianjia.userlogin values (#{username},#{password})
	</insert>
	<update id="updatePassword">
		update jianjia.userlogin set password=#{password} where username=#{username}
	</update>
</mapper>
