<!-- 已完成 -->
<!DOCTYPE html>
<html lang="us" xmlns:th="http://www.thymeleaf.org">

<head th:replace="thymeleafbase :: jianjia-head(~{::title})">
    <title>蒹葭</title>
</head>
<body>
    <div th:replace="thymeleafbase :: jianjia-nav"></div>

    <div id="maindiv" class="container">
        <div class="row">
            <div id="demo" class="carousel slide col-6" data-ride="carousel">

                <!-- 指示符 -->
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                </ul>

                <!-- 轮播图片 -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://static.runoob.com/images/mix/img_fjords_wide.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://static.runoob.com/images/mix/img_nature_wide.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://static.runoob.com/images/mix/img_mountains_wide.jpg">
                    </div>
                </div>

                <!-- 左右切换按钮 -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
            <!-- 下面的div用于显示最近最火的动态 -->
            <div id="index-hot-shows" class="col-6">

            </div>
        </div>
        <!-- 下面的div用于推荐用户 -->
        <div>

        </div>
    </div>
</body>

</html>