<div class="card" th:each="userinfo:${likelist}">
    <div class="card-body row">
        <img class="col-2 userinfodiv" th:src="${userinfo.profilepicture}" th:id="${userinfo.username}">
        <div class="col-6">
            <div class="row">
                <h2 th:text="${userinfo.nikename}"></h2>
                <i class="fa fa-mars" aria-hidden="true" th:if="${userinfo.sex eq '男'}"></i>
                <i class="fa fa-venus" aria-hidden="true" th:if='${userinfo.sex eq "女"}'></i>
            </div>
            <div class="row">
                <p th:text="${userinfo.age}"></p>
                <p th:text="${userinfo.sex}"></p>
                <p th:text="${userinfo.department}"></p>
            </div>
            
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <button type="button" class="btn btn-primary col-2 aaa" th:if="${userinfo.likeit}"
                th:value="${userinfo.username}">取消喜欢</button>
            <button type="button" class="btn btn-danger col-2 bbb" th:if="${!userinfo.likeit}"
                th:value="${userinfo.username}">喜欢</button>
        </div>
    </div>
</div>