<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>搜索</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('button').click(function () {
                if ($(this).hasClass("aaa")) {
                    $.post("/rmlike", "likeuser=" + $(this)[0].value, function (data, status) {
                        //var rr = $.parseJSON(data);
                    });
                    $(this).text("喜欢");
                    $(this).addClass("bbb").removeClass("aaa");
                }
                else if ($(this).hasClass("bbb")) {
                    $.post("/tolike", "likeuser=" + $(this)[0].value, function (data, status) {
                        //var rr = $.parseJSON(data);
                    });
                    $(this).text("取消喜欢");
                    $(this).addClass("aaa").removeClass("bbb");
                }

            });
            $("#search1").click(function () {
                $.post("/tosearch", "key=" + $("#key").val() + "&sexfilter=" + $("#sexfilter").val() + "&departmentfilter=" + $("#departmentfilter").val(), function (data, status) {
                    $("#div12").html(data);
                });
            });
            $.post("/tosearch", "key=&sexfilter=不限&departmentfilter=不限", function (data, status) {
                $("#div12").html(data);
            });
        });
    </script>
</head>

<body style="background: url(https://jianjia-1253347887.cos.ap-nanjing.myqcloud.com/abcd1.jpg);background-size: 100%;">
    <div class="container">
        <div class="container">
            <form method="post" class="row">
                <input name="key" id="key" type="text" class="form-control col-md-5">
                <select class="form-control col-md-1" name="sexfilter" id="sexfilter">
                    <option>不限</option>
                    <option>男</option>
                    <option>女</option>
                </select>
                <select class="form-control col-md-1" name="departmentfilter" id="departmentfilter">
                    <option>不限</option>
                    <option>网络工程学院</option>
                    <option>信息工程学院</option>
                    <option>生物工程学院</option>
                    <option>经济管理学院</option>
                </select>
                <button type="button" class="btn btn-primary col-md-2" id="search1">搜索</button>
            </form>
        </div>
        <div id="div12">

        </div>
    </div>
</body>

</html>