<div style="overflow: auto;height: 500px;">
    <div class="card" th:each="showcomment:${showComments}">
        <div class="card-body row">
            <p th:text="${showcomment.comment}"></p>
        </div>
    </div>
</div>
<div>
    <form th:if="${session.loginUser!=null}">
        <div class="form-group">
            <textarea class="form-control" rows="5" id="commentdatabox"></textarea>
        </div>
        <div class="form-check">
        </div>
        <button type="button" class="btn btn-primary" id="postshowcommentbutton" th:value="${showid}">发送</button>
    </form>
</div>