<!DOCTYPE html>
<html lang="us" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>注册</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body style="text-align:center;padding-top:20%">
	<div class="card" style="width:500px;margin: 0 auto">
		<div class="card-body">
			<form class="from-signin" th:action="@{/signup}">
				<div class="form-group">
				<label for="text">用户名:</label>
				<input type="text" name="username" class="form-control">
				</div>
		<div class="form-group">
			<label for="pwd">密码:</label>
			<input type="password" name="password" class="form-control">
		</div>
		<div class="form-check">
			<label class="form-check-label">
				<input class="form-check-input" type="checkbox">记住我
    			</label>
		</div>
		<button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
	</form>
		</div>
	</div>
</body>
</html>
