<div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div style="margin: 0 auto;">
            <form class="form-inline">
                <div class="container-fluid">
                    <input class="form-control col-6" id="key" type="text" placeholder="输入要搜索的内容">
                    <select class="form-control col-2" name="sexfilter" id="sexfilter">
                        <option>不限</option>
                        <option>男</option>
                        <option>女</option>
                    </select>
                    <select class="form-control col-2" name="departmentfilter" id="departmentfilter">
                        <option>不限</option>
                        <option>网络工程学院</option>
                        <option>信息工程学院</option>
                        <option>生物工程学院</option>
                        <option>经济管理学院</option>
                    </select>
                    <button class="btn btn-success col-2" id="searchboxbutton" type="button">搜索</button>
                </div>
            </form>
        </div>
    </nav>
    <div id="searchboxmaindiv">
    </div>
</div>