<div class="container">
    <form method="post" class="row">
        <input name="key" id="key" type="text" class="form-control col-md-5">
        <select class="form-control col-md-1" name="sexfilter" id="sexfilter">
            <option>不限</option>
            <option>男</option>
            <option>女</option>
        </select>
        <select class="form-control col-md-1" name="departmentfilter" id="departmentfilter">
            <option>不限</option>
            <option>网络工程学院</option>
            <option>信息工程学院</option>
            <option>生物工程学院</option>
            <option>经济管理学院</option>
        </select>
        <button type="button" class="btn btn-primary col-md-2" id="searchboxbutton">搜索</button>
    </form>
    <div id="searchboxmaindiv">

    </div>
</div>