<div>
    <div class="needs-validation" novalidate>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationTooltip01">用户名</label>
                <input type="text" class="form-control" id="validationTooltip01" required th:value="${userinfo.username}">
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationTooltip02">昵称</label>
                <input type="text" class="form-control" id="validationTooltip02" required th:value="${userinfo.nikename}">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationTooltip03">年龄</label>
                <input type="text" class="form-control" id="validationTooltip03" required th:value="${userinfo.age}">
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationTooltip04">性别</label>
                <select class="custom-select" id="validationTooltip04" required th:value="${userinfo.sex}">
                    <option>男</option>
                    <option>女</option>
                </select>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationTooltip05">学院</label>
                <select class="custom-select" id="validationTooltip05" required th:value="${userinfo.department}">
                    <option>网络工程学院</option>
                    <option>信息工程学院</option>
                    <option>生物工程学院</option>
                    <option>经济管理学院</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationTooltip06">关键词</label>
                <input type="text" class="form-control" id="validationTooltip06" required th:value="${userinfo.key}">
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationTooltip07">喜好</label>
                <input type="text" class="form-control" id="validationTooltip07" required th:value="${userinfo.like}">
            </div>
        </div>


    </div>
    <button class="btn btn-primary" id="subuserinfosubut">提交</button>
</div>