<!DOCTYPE html>
<html lang="us" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="jianjia-head(title)">
    <title th:replace="${title}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/jianjia.js}"></script>
    <style type="text/css">
        body {
            background-image: url(https://www.a.a/a.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed
        }

        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <div th:fragment="jianjia-nav">
        <div class="jumbotron text-center" style="margin-bottom:0;background-color: white">
            <h1>蒹葭</h1>
        </div>
        <div id="maininfobox" style="position:fixed;top:10px;right:10px;z-index:100000;"></div>
        <nav class="navbar navbar-expand-sm bg-light navbar-light" style="color: rgb(196, 68, 68)">
            <div style="margin:0 auto;">
                <ul class="navbar-nav fa-ul">
                    <li class="nav-item" style="margin: 0 50px;">
                        <i class="fa-li fa fa-check-square"></i>
                        <a class="nav-link" th:href="@{/index}">主页</a>
                    </li>
                    <li class="nav-item" style="margin: 0 50px;">
                        <i class="fa-li fa fa-search" aria-hidden="true"></i>
                        <a class="nav-link" th:href="@{/search}">搜索</a>
                    </li>
                    <li class="nav-item" style="margin: 0 50px;">
                        <i class="fa-li fa fa-star" aria-hidden="true"></i>
                        <a class="nav-link" th:href="@{/getallusershows}">校园动态</a>
                    </li>
                    <li class="nav-item" style="margin: 0 50px;" th:if="${session.loginUser==null}">
                        <i class="fa-li fa fa-toggle-right"></i>
                        <a class="nav-link" th:href="@{/login}">登录</a>
                    </li>
                    <li class="nav-item dropdown" th:if="${session.loginUser!=null}" style="margin: 0 50px;">
                        <i class="fa-li fa fa-user" aria-hidden="true"></i>
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            我的
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/userselfspace}">个人空间</a>
                            <a class="dropdown-item" id="indexpostshowbutton">发条动态</a>
                            <a class="dropdown-item" th:href="@{/userlike}">喜欢的人</a>
                            <a class="dropdown-item" th:href="@{/logout}">注销</a>
                        </div>
                    </li>
                </ul>
            </div>

        </nav>
    </div>

    <div class="container" th:fragment="jianjia-userlist">
        <div class="card" th:each="userinfo:${userinfoList}">
            <div class="card-body row">
                <img class="col-2 userinfodiv" th:src="${userinfo.profilepicture}" th:id="${userinfo.username}">
                <div class="col-6">
                    <div class="row">
                        <h2 th:text="${userinfo.nikename}"></h2>
                        <i class="fa fa-mars" aria-hidden="true" th:if="${userinfo.sex eq '男'}"></i>
                        <i class="fa fa-venus" aria-hidden="true" th:if='${userinfo.sex eq "女"}'></i>
                    </div>
                    <div class="row">
                        <p th:text="${userinfo.age}"></p>
                        <p th:text="${userinfo.sex}"></p>
                        <p th:text="${userinfo.department}"></p>
                    </div>

                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <button type="button" class="btn btn-primary col-2 aaa" th:if="${userinfo.likeit}"
                        th:value="${userinfo.username}">取消喜欢</button>
                    <button type="button" class="btn btn-danger col-2 bbb" th:if="${!userinfo.likeit}"
                        th:value="${userinfo.username}">喜欢</button>
                </div>
            </div>
        </div>
    </div>


    <div class="container" th:fragment="jianjia-searchbox">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div style="margin: 0 auto;">
                <form class="form-inline" action="/search">
                    <div class="container-fluid">
                        <input class="form-control col-6" id="key" name="key" type="text" placeholder="输入要搜索的内容"
                            th:value="${searchkey}">
                        <select class="form-control col-2" name="sexfilter" id="sexfilter" th:value="${searchsex}">
                            <option>不限</option>
                            <option>男</option>
                            <option>女</option>
                        </select>
                        <select class="form-control col-2" name="departmentfilter" id="departmentfilter"
                            th:value="${searchdepartment}">
                            <option>不限</option>
                            <option>网络工程学院</option>
                            <option>信息工程学院</option>
                            <option>生物工程学院</option>
                            <option>经济管理学院</option>
                        </select>
                        <button class="btn btn-success col-2" id="searchboxbutton" type="submit">搜索</button>
                    </div>
                </form>
            </div>
        </nav>
        <div id="searchboxmaindiv">
        </div>
    </div>

    <div class="container" th:fragment="jianjia-showlist">
        <div class="media border p-3" th:each="userinfo:${uShowandInfos}">
            <img th:src="${userinfo.profilepicture}" th:alt="${userinfo.nikename}" class="mr-3 mt-3 rounded-circle"
                style="width:60px;">
            <div class="media-body">
                <div class="row">
                    <h4 th:text="${userinfo.nikename}"></h4>
                    <i class="fa fa-mars" aria-hidden="true" th:if="${userinfo.sex eq '男'}"></i>
                    <i class="fa fa-venus" aria-hidden="true" th:if='${userinfo.sex eq "女"}'></i>
                </div>
                <div class="row">
                    <p class="col-11" th:text=${userinfo.showdata}></p>
                </div>
                <div class="row">
                    <p th:text="${userinfo.timedate}" style="font-size: 0.8em;"></p>
                </div>
                <div class="row" style="border-top: 1px solid #eee;">
                    <!-- <a class="col-3 offset-2" th:id="likeshow+${userinfo.showid}" th:value="${userinfo.showid}">点赞</a> -->
                    <button type="button" class="btn col-1 btn-light offset-3" th:id="likeshow+${userinfo.showid}" th:value="${userinfo.showid}">点赞</button>
                    <a type="button" class="btn btn-light col-1 offset-1" th:href="@{showinfo}+'?showid='+${userinfo.showid}">评论</a>
                    <button type="button" class="btn btn-light col-1 offset-1">收藏</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container" th:fragment="jianjia-login">
        <div class="card col">
            <div id="div1" style="position:fixed;top:10px;right:10px;z-index:100000;"></div>
            <div class="row">
                <img src="https://jianjia-1253347887.cos.ap-nanjing.myqcloud.com/aaaa.jpg" class="rounded col-md-4"
                    alt="Cinque Terre" style="margin-top:10px;object-fit:contain;display: block;">
                <div class="col-md-8">
                    <form class="from-signin" style="padding:20px;width: 100%;">
                        <h2 style="margin: 30px;">欢迎登录</h2>
                        <div class="form-group" style="margin: 30px;">
                            <input id="username-input" placeholder="用户名" type="username" name="username"
                                class="form-control">
                        </div>
                        <div class="form-group" style="margin: 30px;">
                            <input id="password-input" placeholder="密码" type="password" name="password"
                                class="form-control">
                        </div>
                    </form>
                    <div class="row container">
                        <button class="btn btn-info col-3 offset-2" id="tologinbutton">登录</button>
                        <button type="button" class="btn btn-info col-3 offset-2" data-toggle="modal"
                            data-target="#myModal9">注册</button>
                    </div>
                    <div class="modal fade" id="myModal9">

                        <div id="signininfobox" style="position:fixed;top:10px;right:10px"></div>
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                                <!-- 模态框头部 -->
                                <div class="modal-header">
                                    <h4 class="modal-title">注册</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- 模态框主体 -->
                                <div class="modal-body">
                                    <form class="from-signin" style="padding:20px;width: 100%;">
                                        <div class="form-group" style="margin: 30px;">
                                            <input id="username-input-mo" placeholder="用户名" type="username"
                                                name="username" class="form-control">
                                        </div>
                                        <div class="form-group" style="margin: 30px;">
                                            <input id="password-input-mo" placeholder="密码" type="password"
                                                name="password" class="form-control">
                                        </div>
                                        <div class="form-check d-flex">
                                            <label class="form-check-label"></label>
                                        </div>
                                    </form>
                                </div>

                                <!-- 模态框底部 -->
                                <div class="modal-footer">
                                    <button id="signinbut" class="btn btn-info" style="margin-right: 100px;">注册</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container" th:fragment="jianjia-userselfspace">
        <div class="row jumbotron">
            <img th:src="${userinfoself.profilepicture}" class="col-2" data-toggle="modal" data-target="#myModal1">
            <div class="modal fade" id="myModal1">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- 模态框头部 -->
                        <div class="modal-header">
                            <h4 class="modal-title">修改头像</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- 模态框主体 -->
                        <div class="modal-body">
                            <form method="post" action="/updateprofilepicture" enctype="multipart/form-data"
                                target="target1">
                                <input type="file" name="file"><br>

                                <input type="submit" value="提交">
                            </form>
                            <iframe name="target1" id="target1"></iframe>
                        </div>

                        <!-- 模态框底部 -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-5">
                <h2 th:text="${userinfoself.nikename}"></h2>
                <p>开开心心每一天</p>
                <button type=button class="btn btn-secondary" id="updateselfuserinfobutton" data-toggle="modal"
                    data-target="#myModal2">修改资料</button>
                <div class="modal fade" id="myModal2">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- 模态框头部 -->
                            <div class="modal-header">
                                <h4 class="modal-title">修改资料</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- 模态框主体 -->
                            <div class="modal-body" id="userslefspacemodalmaindiv">
                                <div>
                                    <div class="needs-validation" novalidate>
                                        <div class="form-row">
                                            <div class="col-md-6 mb-3">
                                                <label for="validationTooltip01">用户名</label>
                                                <input type="text" class="form-control" id="validationTooltip01"
                                                    required th:value="${userinfoself.username}">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="validationTooltip02">昵称</label>
                                                <input type="text" class="form-control" id="validationTooltip02"
                                                    required th:value="${userinfoself.nikename}">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6 mb-3">
                                                <label for="validationTooltip03">年龄</label>
                                                <input type="text" class="form-control" id="validationTooltip03"
                                                    required th:value="${userinfoself.age}">
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <label for="validationTooltip04">性别</label>
                                                <select class="custom-select" id="validationTooltip04" required
                                                    th:value="${userinfoself.sex}">
                                                    <option>男</option>
                                                    <option>女</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <label for="validationTooltip05">学院</label>
                                                <select class="custom-select" id="validationTooltip05" required
                                                    th:value="${userinfoself.department}">
                                                    <option>网络工程学院</option>
                                                    <option>信息工程学院</option>
                                                    <option>生物工程学院</option>
                                                    <option>经济管理学院</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6 mb-3">
                                                <label for="validationTooltip06">关键词</label>
                                                <input type="text" class="form-control" id="validationTooltip06"
                                                    required th:value="${userinfoself.key}">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="validationTooltip07">喜好</label>
                                                <input type="text" class="form-control" id="validationTooltip07"
                                                    required th:value="${userinfoself.like}">
                                            </div>
                                        </div>


                                    </div>
                                    <button class="btn btn-primary" id="subuserinfosubut">提交</button>
                                </div>
                            </div>

                            <!-- 模态框底部 -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container" th:fragment="jianjia-showinfo">
        <div class="media border p-3">
            <img th:src="${postshowuserinfo.profilepicture}" class="mr-3 mt-3 rounded-circle" style="width:60px;">
            <div class="media-body">
                <h4 th:text="${postshowuserinfo.nikename}"></h4>
                <p th:text="${usershow.showdata}"></p>
                <div class="row" style="border-top: 1px solid #eee;padding-top: 8px;">
                    <button type="button" class="btn col-1 offset-5" th:id="likeshow+${usershow.id}" th:value="${usershow.id}">点赞</button>
                    <button type="button" class="btn col-1">收藏</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container" th:fragment="jianjia-comment">
        <div class="media border p-3">
            <img th:src="${postshowuserinfo.profilepicture}" class="mr-3 mt-3 rounded-circle" style="width:60px;">
            <div class="media-body">
                <textarea class="form-control" rows="3" id="commentbox"></textarea>
                <div class="d-flex flex-row-reverse">
                    <button type="button" class="btn btn-info" id="post-comment">发送</button>
                </div>
            </div>
        </div>
        <div class="media border p-3" th:each="comment:${showComments}">
            <div class="media-body">
                <p th:text="${comment.comment}"></p>
            </div>
        </div>
    </div>
</body>